<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>    
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-test-center">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon class="icon-app" name="glasses-outline"></ion-icon>
        <h2 class="title-app">OptiManager 2.0</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-input
        class="texto ion-text-center"
        clearInput
        value = {{ultemail}}
        placeholder="Correo electrónico"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        class="texto ion-text-center"
        clearInput
        placeholder="Contraseña"
        (keyup.enter)="login()"
        [(ngModel)]="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    class="texto boton-login"
    color="success"
    shape="round"
    (click)="login()">
    Acceder
    <ion-spinner *ngIf="cargando"></ion-spinner>
  </ion-button>

  <div class="ion-text-center">
    <a class="texto new-account" href="/registro">
      <ion-icon name="person-add-outline"></ion-icon>
      Crear cuenta
    </a>
    <br>
    <a class="texto reset-pass" href="/restaura-password">
      <ion-icon name="mail-outline"></ion-icon>
      Recuperar contraseña
    </a>
  </div>

  <p class="texto ion-text-center copyright">© 2021. iListGame. Todos los derechos reservados.</p>

</ion-content>
