<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Listado Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let c of clientes | async">
    <ion-label class="texto">
      <h2>{{c.nomCliente}} {{c.apeCliente}}</h2>
      <p>{{c.telCliente}}</p>
    </ion-label>

    <ion-button (click)="editarCliente(c.clienteId)" color="warning">
      <ion-icon  slot="icon-only" name="pencil" ></ion-icon>
    </ion-button>

    <ion-button (click)="borrarCliente(c.clienteId)" color="danger">
      <ion-icon  slot="icon-only" name="trash" ></ion-icon>
    </ion-button>
  </ion-item>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCliente()" color="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
